<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../component/component.head.html") %>
        <title>RE:T</title>

        <link rel="stylesheet" href="/style/sign-up/style.css">

</head>

<body class="screen-1">
    <div>
        <%- include('../../component/component.header.ejs') %>
    </div>

    <h3 id="agree_title">본인인증</h3>

    <form method="post" action="/sign-up/retner/enter-information">
        <div class="container">
            <label for="name" class="name">* 이름<br>
                <input type="text" name="login_id" placeholder="이름입력" /><br><br>
            </label>
            <br>
            <div class="birth">
                <label for="birth" class="birth_label">* 주민등록번호 앞 7자리<br>
                    <table id="brith_table">
                        <tr>
                            <td>
                                <input type="number" name="birth" class="birth_input" maxlength="7" placeholder="생년월일입력"
                                    oninput='handleOnInput(this, 6)' />
                            </td>
                            <td class="dash"></td>
                            <td>
                                <input type="number" name="birth" class="birth_input" maxlength="1" placeholder="0"
                                    oninput='handleOnInput(this, 1)' />
                            </td>
                            <td class="resident-num"></td>
                        </tr>
                    </table>
                </label><br><br>
            </div>

            <br>

            <div id="phone_number">
                <label for="phone" class="phone">* 휴대전화번호<br>
                    <table id="phone_tab">
                        <tr>
                            <td>
                                <select id="phone_agency">
                                    <option value="" disabled selected>통신사</option>
                                    <option value="SKT">SKT</option>
                                    <option value="LGU+">LGU+</option>
                                    <option value="KT">KT</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" class="phone_num" maxlength="3" placeholder="010"
                                    oninput='handleOnInput(this, 3)'>
                            </td>
                            <td class="dash"></td>
                            <td>
                                <input type="number" class="phone_num" maxlength="4" oninput='handleOnInput(this, 4)'>
                            </td>
                            <td class="dash"></td>
                            <td>
                                <input type="number" class="phone_num" maxlength="4" oninput='handleOnInput(this, 4)'>
                            </td>
                        </tr>
                    </table>
                </label><br> <br>
            </div>


        </div>

        <button class="confirm-sign-up">저장하기</button>
    </form>

    <script>
        function handleOnInput(el, maxlength) {
            if (el.value.length > maxlength) {
                el.value
                    = el.value.substr(0, maxlength);
            }
        }
    </script>
</body>


</html>