<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../component/component.head.html") %>
        <title>RE:T</title>

        <link rel="stylesheet" href="/style/sign-up/style.css">

</head>

<body class="screen-1">
    <div>
        <%- include('../../component/component.header.ejs') %>
    </div>

    <h3 id="agree_title">리트너 정보 입력</h3>

    <form method="post" action="/sign-up/retner/complete">
        <div class="container">
            <label for="name" class="name">* 소속 기관<br>
                <input type="text" name="login_id" placeholder="소속기관입력" /><br><br>
            </label>
            <br>
            <label for="retner_verification" class="retner_verification">* 인증번호 입력<br>
                <input type="retner_verification" name="retner_verification" placeholder="인증번호입력" /><br><br>
            </label>
            <br>
            <hr>
            <br>
            <label for="retner_code" class="retner_code">* 리트너 코드<br>
                <div class="code_box">
                    <p class="code_p" id="code_number">A7S8DF</p>
                    <p class="code_p" id="copy"><ins>복사하기</ins></p>
                </div>
                <br><br>
            </label>
            <br>
            <br>

            <br> <br> <br> <br> <br> <br>

        </div>
        <button class="confirm-sign-up">가입하기</button>
    </form>


</body>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>

</html>