<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../component/component.head.html") %>
        <title>RE:T</title>

        <link rel="stylesheet" href="/style/sign-up/style.css">

</head>


<body class="screen-1">
    <div>
        <%- include('../../component/component.header.ejs') %>
    </div>

    <h3 id="agree_title">회원가입</h3>

    <form method="post" action="/sign-up/patient/complete">
        <div class="field_container">
            <label for="name" class="name">아이디<br>
                <input type="text" name="login_id" placeholder="아이디입력" />
                <hr class="underline">
            </label>
        </div>
            <br>
        <div class="field_container">
            <label for="password" class="name">비밀번호<br>
                <input type="password" name="password" placeholder="··················" />
                <hr class="underline">
            </label>
        </div>
            <br>
        <div class="field_container">
            <label for="password" class="password">비밀번호 확인<br>
                <input type="password" name="password_repeat" placeholder="··················" />
            </label>
            <hr class="underline">
        </div>
            <hr>
        <div class="field_container">
            <label for="doctor" class="doctor">* 리트너 찾기<br>
                <input type="text" name="staff_id" placeholder="리트너 코드 입력" />
            </label>
            <hr class="underline">
        </div>
            <br>
        <div class="field_container">
            <label for="where_ahya" class="where_ahya">* 통증 부위<br>
                <input type="text" name="hurt" placeholder="통증 부위 입력" />
            </label>
            <hr class="underline">
        </div>


            <br>

        </div>
        <button class="confirm">가입하기</button>
    </form>


</body>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>

</html>
