<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../component/component.head.html") %>
        <title>RE:T</title>

        <link rel="stylesheet" href="/style/sign-up/style.css">

</head>


<body class="screen-1">

    <div>
        <%- include('../../component/component.header.ejs') %>
    </div>

    <h3 id="agree_title">프로필 설정</h3>

    <div class="container">
        <form action="/sign-up/patient/profile" method="post" enctype="multipart/form-data">
            <!--프로필 사진-->
            <div class="circle">
                <div class="circle2" onclick="document.getElementById('fileInput').click()">
                    <input type="file" id="fileInput" name="picture" accept="image/*">
                    <img id="imagePreview">
                </div>
            </div>

            <script>
                document.getElementById('fileInput').addEventListener('change', function (event) {
                    const file = event.target.files[0];
                    if (file) {
                        const reader = new FileReader();
                        reader.onload = function (e) {
                            const imagePreview = document.getElementById('imagePreview');
                            imagePreview.src = e.target.result;
                            imagePreview.style.display = 'block';
                        };
                        reader.readAsDataURL(file);
                    }
                });
            </script>

            <br><br><br><br>
            <!--닉네임 입력 칸-->

            <input type="text" name="nickname" placeholder="닉네임 입력" />

            <br><br>

            <div class="line"></div>

            <div id="gap1"></div>

            <button class="login">가입하기</button>
        </form>

</body>

</html>