<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../component/component.head.html") %>
        <title>RE:T</title>

        <link rel="stylesheet" href="/style/sign-up/style.css">


        <style>
            .screen-1 .input-fields {
                display: flex;
                gap: 6em;
            }

            .screen-1 .circle {
                margin: 0 auto;
                width: 160px;
                height: 160px;
                background-color: rgb(255, 255, 255);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                overflow: hidden;
                position: relative;
                border: 1px solid black;
            }

            .screen-1 .circle2 {
                width: 150px;
                height: 150px;
                background-color: rgb(221, 221, 221);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                overflow: hidden;
                position: relative;
            }

            .circle2 img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }

            .screen-1 .login {
                padding: 1em;
                background: #546FFF;
                color: #fcfcfc;
                border: none;
                border-radius: 30px;
                font-weight: 600;
                float: bottom;
                height: 2.5em;
                width: 150px;
                display: flex;
                justify-content: center;
                align-items: center;

            }


            #fileInput {
                display: none;
            }

            .container input {
                outline: none;
                border: none;
                background-color: transparent;
                width: 100%;
                height: 1.5em;
                padding: 0.5em;
                box-sizing: border-box;
                border-radius: 20px;
                text-align: center;
            }
        </style>
</head>


<body class="screen-1">

    <div>
        <%- include('../../component/component.header.ejs') %>
    </div>

    <h3 id="agree_title">프로필 설정</h3>

    <div class="container">
        <form action="/sign-up/patient/profile" method="post" enctype="multipart/form-data">
            <!--프로필 사진-->
            <div class="circle">
                <div class="circle2" onclick="document.getElementById('fileInput').click()">
                    <input type="file" id="fileInput" name="picture" accept="image/*">
                    <img id="imagePreview">
                </div>
            </div>

            <script>
                document.getElementById('fileInput').addEventListener('change', function (event) {
                    const file = event.target.files[0];
                    if (file) {
                        const reader = new FileReader();
                        reader.onload = function (e) {
                            const imagePreview = document.getElementById('imagePreview');
                            imagePreview.src = e.target.result;
                            imagePreview.style.display = 'block';
                        };
                        reader.readAsDataURL(file);
                    }
                });
            </script>

            <br><br><br><br>
            <!--닉네임 입력 칸-->

            <input type="text" name="nickname" placeholder="닉네임 입력" />

            <br><br>

            <div class="line"></div>

            <div id="gap1"></div>

            <button class="login">가입하기</button>
        </form>

</body>

</html>