<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../../component/component.head.html')%>
        <title>RE:T</title>

</head>

<body>
    <div>
        <%- include('../../component/component.header.ejs') %>
    </div>
    <h2>환자 메인 페이지</h2>
</body>

</html>