* {
  font-family: "Poppins";
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  background: #fcfcfc;
  margin-left: auto;
  margin-right: auto;
  min-height: 852px;
}

.main {
  display: flex;
  justify-content: center;
  overflow: auto;
}

.logo {
  width: 170px;
  height: 170px;
  padding: 65px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: -3em;
  justify-content: center;
}

.screen-1 {
  background: #fcfcfc;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 2em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 2em #e6e9f9;
  max-width: 393px;
  width: 100%;
  box-sizing: border-box;
  max-height: 852px;
  height: 100%;
}

.email {
  background: #fcfcfc;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
  margin-top: -3em;
}

.email input {
  outline: none;
  border: none;
  background: #fcfcfc;
  border-bottom: 1px solid rgba(106, 106, 106, 0.4);
}

.email input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}

.email input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}

.email input::placeholder {
  color: #6A6A6A;
  font-size: 0.9em;
}

.password {
  background: #fcfcfc;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
  margin-bottom: 65px;
}

.password input {
  outline: none;
  border: none;
  background: #fcfcfc;
  border-bottom: 1px solid rgba(106, 106, 106, 0.4);
}

.password input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}

.password input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}

.password input::placeholder {
  color: black;
  font-size: 0.9em;
}

.password ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}

.password .show-hide {
  margin-right: -5em;
}

.login {
  padding: 1em;
  background: #546FFF;
  color: #fcfcfc;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  margin-bottom: 46px;
  position: relative;
  margin: 0 auto 46px auto;
  display: block;
  padding-left : 100px;
  padding-right : 100px;
}

.footer {
  display: flex;
  font-size: 0.7em;
  color: #5e5e5e;
  gap: 14em;
  padding-bottom: 10em;
  display: block;
  text-align: center;
}

.footer span {
  cursor: pointer;
  display: block;
  text-align: center;
}

button {
  cursor: pointer;
}