* {
  font-family: "Poppins";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  background: #fcfcfc;
  height: 100vh;
}

h3 {
  margin-top: 1em;
  display: block;
  text-align: center;
}

#sign {
  margin: 0em;
  float: left;
  padding-left: 10px;
  font-size: 24px;
  margin-bottom: 10px;
}

.app {
  margin-top: 1em;
  display: block;
  text-align: center;
  font-size: 16px;
}

img.logo {
  width: 170px;
  height: 170px;
  padding: 65px;
}

.screen-1 {
  background: #fcfcfc;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 2em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 2em #e6e9f9;
  max-width: 393px;
  width: 100%;
  box-sizing: border-box;
  max-height: 852px;
  height: 100%;
}

.screen-1 .input-fields {
  display: flex;
  gap: 6em;
}

.screen-1 .name,
.screen-1 .password,
.screen-1 .retner_verification,
.screen-1 .retner_code,
.screen-1 .doctor {
  flex: 1;
  background: #f1f1f1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
  height: 2.5em;
}

.container label {
  display: flex;
  flex-direction: column;
}

.container input {
  outline: none;
  border: none;
  background-color: transparent;
  text-decoration-line: underline;
  height: 1.5em;
  padding: 0.5em;
  box-sizing: border-box;
  border-radius: 20px;
}

.screen-1 .doctor input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
  background: #f1f1f1;
}

.screen-1 .doctor input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
  background: #f1f1f1;
}

.screen-1 .doctor input::placeholder {
  background: #f1f1f1;
  color: #6A6A6A;
  font-size: 0.9em;
}

.screen-1 .name input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
  background: #f1f1f1;
}

.screen-1 .name input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
  background: #f1f1f1;
}

.screen-1 .name input::placeholder {
  background: #f1f1f1;
  color: #6A6A6A;
  font-size: 0.9em;
}

.screen-1 .password input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
  background: #f1f1f1;
  text-decoration-line: underline;
}

.screen-1 .password input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
  background: #f1f1f1;
}

.screen-1 .password input::placeholder {
  color: black;
  font-size: 0.9em;
  background: #f1f1f1;
}

.screen-1 .password ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}

.screen-1 .password .show-hide {
  margin-right: -5em;
}

.screen-1 .retner_verification input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
  background: #f1f1f1;
}

.screen-1 .retner_verification input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
  background: #f1f1f1;
}

.screen-1 .retner_verification input::placeholder {
  background: #f1f1f1;
  color: #6A6A6A;
  font-size: 0.9em;
}

.screen-1 .confirm-sign-up {
  padding: 1em;
  background: #546FFF;
  color: #fcfcfc;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  margin-bottom: 46px;
  position: relative;
  display: block;
  padding-left: 100px;
  padding-right: 100px;
  margin: 46px auto 0 auto;
}

.screen-1 .footer {
  display: flex;
  font-size: 0.7em;
  color: #5e5e5e;
  gap: 14em;
  padding-bottom: 10em;
  display: block;
  text-align: center;
}

.screen-1 .footer span {
  cursor: pointer;
  display: block;
  text-align: center;
}

button {
  cursor: pointer;
  margin-top: 0.5em;
}

#code_number{
  padding-left: 0.5em;
}

#copy{
  color: #6A6A6A;
  font-size: 0.9em;
}

.code_box{
  display: flex;
  justify-content: space-between;
}

.code_p{
  margin-block-start: 0;
  margin-block-end: 0;
}

#phone_number,
.birth {
  background: #f1f1f1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  color: #4d4d4d;
  height: 2.5em;
  gap: 0px;
}

#phone_agency {
  font-size: 0.9em;
  background-color: #E4E4E4;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: 0px;
}

.phone_num,
.birth_input {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  border-width: 0 0 1px;
  width: 70px;
  border-bottom: 1px solid #000;
}

.birth_label {
  margin-bottom: 0px;
}

#birth_table,
#phone_tab {
  display: inline-table;
  border-collapse: collapse;
}

#birth_table td,
#phone_tab td {
  padding: 0;
}

.dash::before {
  content: "-";
  font-size: 16px;
}

.resident-num::before {
  content: "000000";
  font-size: 16px;
}