<div id="gap1"></div>
<div class="week">
    <button type="button" class="today">8<br />ㅡ<br />SUN</button>
    <button type="button" class="day">9<br />ㅡ<br />MON</button>
    <button type="button" class="day">10<br />ㅡ<br />TUE</button>
    <button type="button" class="day">11<br />ㅡ<br />WED</button>
    <button type="button" class="day">12<br />ㅡ<br />THU</button>
    <button type="button" class="day">13<br />ㅡ<br />FRI</button>
    <button type="button" class="day">14<br />ㅡ<br />SAT</button>
</div>