<button class="chatting">
    <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d_881_886)">
        <circle cx="35" cy="31" r="31" fill="#546FFF"/>
        </g>
        <path d="M20 31C20 27.287 21.475 23.726 24.1005 21.1005C26.726 18.475 30.287 17 34 17C37.713 17 41.274 18.475 43.8995 21.1005C46.525 23.726 48 27.287 48 31V39.9075C48 41.3915 48 42.13 47.7795 42.7232C47.6042 43.1933 47.3298 43.6203 46.975 43.975C46.6203 44.3298 46.1933 44.6042 45.7232 44.7795C45.13 45 44.3898 45 42.9075 45H34C30.287 45 26.726 43.525 24.1005 40.8995C21.475 38.274 20 34.713 20 31Z" stroke="white" stroke-width="2"/>
        <path d="M28.75 29.25H39.25M34 36.25H39.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <defs>
        <filter id="filter0_d_881_886" x="0" y="0" width="70" height="70" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="4"/>
        <feGaussianBlur stdDeviation="2"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_881_886"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_881_886" result="shape"/>
        </filter>
        </defs>
    </svg>
</button>