<div class="ret_today">
    <h5 id="retner_name">안녕하세요! 이용섭 님!</h5>
    <hr id="box">
    <p id="my_code">나의 리트너 코드 : </p>
    <div class="diagno_chat">
        <span class="document">
            <svg width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M3.53208 0.416504H9.46863C11.6567 0.416504 12.875 1.67734 12.875 3.83775V11.1548C12.875 13.3507 11.6567 14.5832 9.46863 14.5832H3.53208C1.37875 14.5832 0.125 13.3507 0.125 11.1548V3.83775C0.125 1.67734 1.37875 0.416504 3.53208 0.416504ZM3.72333 3.71734V3.71025H5.84054C6.14583 3.71025 6.39375 3.95817 6.39375 4.26205C6.39375 4.57442 6.14583 4.82234 5.84054 4.82234H3.72333C3.41804 4.82234 3.17083 4.57442 3.17083 4.26984C3.17083 3.96525 3.41804 3.71734 3.72333 3.71734ZM3.72333 8.024H9.27667C9.58125 8.024 9.82917 7.77609 9.82917 7.4715C9.82917 7.16692 9.58125 6.91829 9.27667 6.91829H3.72333C3.41804 6.91829 3.17083 7.16692 3.17083 7.4715C3.17083 7.77609 3.41804 8.024 3.72333 8.024ZM3.72333 11.2611H9.27667C9.55929 11.2328 9.7725 10.9912 9.7725 10.7086C9.7725 10.4182 9.55929 10.1773 9.27667 10.149H3.72333C3.51083 10.1278 3.30542 10.2269 3.19208 10.4111C3.07875 10.5882 3.07875 10.8219 3.19208 11.0061C3.30542 11.1832 3.51083 11.2894 3.72333 11.2611Z"
                    fill="white" />
            </svg>
        </span>
        <span class="diagno">오늘의 진료 : </span>
        <br>
        <span class="message">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M0.416656 7.51048C0.416656 3.77905 3.39874 0.416504 7.51416 0.416504C11.5375 0.416504 14.5833 3.7152 14.5833 7.4892C14.5833 11.8662 11.0133 14.5832 7.49999 14.5832C6.33832 14.5832 5.04916 14.271 4.01499 13.661C3.65374 13.441 3.34916 13.2779 2.95957 13.4056L1.52874 13.8312C1.16749 13.9447 0.841657 13.661 0.947906 13.2779L1.42249 11.6888C1.50041 11.4689 1.48624 11.2348 1.37291 11.0504C0.76374 9.92952 0.416656 8.70227 0.416656 7.51048ZM6.57916 7.51048C6.57916 8.01415 6.98291 8.41851 7.48582 8.4256C7.98874 8.4256 8.39249 8.01415 8.39249 7.51757C8.39249 7.0139 7.98874 6.60954 7.48582 6.60954C6.98999 6.60245 6.57916 7.0139 6.57916 7.51048ZM9.84457 7.51757C9.84457 8.01415 10.2483 8.4256 10.7512 8.4256C11.2542 8.4256 11.6579 8.01415 11.6579 7.51757C11.6579 7.0139 11.2542 6.60954 10.7512 6.60954C10.2483 6.60954 9.84457 7.0139 9.84457 7.51757ZM4.22041 8.4256C3.72457 8.4256 3.31374 8.01415 3.31374 7.51757C3.31374 7.0139 3.71749 6.60954 4.22041 6.60954C4.72332 6.60954 5.12707 7.0139 5.12707 7.51757C5.12707 8.01415 4.72332 8.41851 4.22041 8.4256Z"
                    fill="white" />
            </svg>
        </span>
        <span class="chat">새로운 채팅 : </span>
    </div>
</div>