<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../component/component.head.html") %>
        <title>RE:T main</title>

        <link rel="stylesheet" href="/style/main/style.css">

</head>

<body class="screen-1">
    <div>
        <%- include('../../component/component.header.ejs') %>
    </div>



    <div class="patientList">
        <div class="circle">
            <div class="circle2">
                <img id="imagePreview">
            </div>
        </div>

        <div id="gap3"></div>

        <div class="ex_explain">
            <h5 class="exercise_name">채승룡 님</h5>
            <p class="exercise_caption">발목 부상 환자</p>
        </div>
    </div>

    <hr>

    <h5 id="today_ret2">오늘의 재활</h5>





    <button type="button" class="exercisePush" onclick="location.href='/retner/patient/add'"><ins>재활운동
            추가하기</ins></button>


</body>

</html>