<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../component/component.head.html") %>
        <title>RE:T main</title>

        <link rel="stylesheet" href="/style/main/style.css">

</head>

<body class="screen-1">
    <div>
        <%- include('../../component/component.header.ejs') %>
    </div>

    <h5 id="today_ret">회원 목록</h5>

    <div class="searchbox">
        <span class="lenz">
            <svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M14.6075 15.0716L10.0717 10.4288M1 6.55973C1 7.27106 1.13688 7.97542 1.40281 8.6326C1.66875 9.28978 2.05854 9.88691 2.54993 10.3899C3.04132 10.8929 3.62468 11.2919 4.26671 11.5641C4.90874 11.8363 5.59687 11.9764 6.2918 11.9764C6.98672 11.9764 7.67485 11.8363 8.31688 11.5641C8.95891 11.2919 9.54227 10.8929 10.0337 10.3899C10.525 9.88691 10.9148 9.28978 11.1808 8.6326C11.4467 7.97542 11.5836 7.27106 11.5836 6.55973C11.5836 5.84841 11.4467 5.14404 11.1808 4.48686C10.9148 3.82968 10.525 3.23256 10.0337 2.72957C9.54227 2.22659 8.95891 1.8276 8.31688 1.55539C7.67485 1.28317 6.98672 1.14307 6.2918 1.14307C5.59687 1.14307 4.90874 1.28317 4.26671 1.55539C3.62468 1.8276 3.04132 2.22659 2.54993 2.72957C2.05854 3.23256 1.66875 3.82968 1.40281 4.48686C1.13688 5.14404 1 5.84841 1 6.55973Z"
                    stroke="black" stroke-opacity="0.3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </span>


        <input type="text" name="directSearch" placeholder="직접검색" /><br><br>
    </div>

    <br>

    <div class="patientList">
        <div class="circle">
            <div class="circle2">
                <img id="imagePreview">
            </div>
        </div>

        <div id="gap3"></div>

        <div class="ex_explain">
            <h5 class="exercise_name">채승룡 님</h5>
            <p class="exercise_caption">발목 부상 환자</p>
        </div>
    </div>

    <hr>

    <div class="patientList">
        <div class="circle">
            <div class="circle2">
                <img id="imagePreview">
            </div>
        </div>

        <div id="gap3"></div>

        <div class="ex_explain">
            <h5 class="exercise_name">김도영 님</h5>
            <p class="exercise_caption">허리 디스크 환자</p>
        </div>
    </div>

    <hr>

    <div class="patientList">
        <div class="circle">
            <div class="circle2">
                <img id="imagePreview">
            </div>
        </div>

        <div id="gap3"></div>

        <div class="ex_explain">
            <h5 class="exercise_name">정인화 님</h5>
            <p class="exercise_caption">손가락 부상 환자</p>
        </div>
    </div>

    <hr>


    <div class="patientList">
        <div class="circle">
            <div class="circle2">
                <img id="imagePreview">
            </div>
        </div>

        <div id="gap3"></div>

        <div class="ex_explain">
            <h5 class="exercise_name">이시은 님</h5>
            <p class="exercise_caption">손목 부상 환자</p>
        </div>
    </div>



</body>

</html>