<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../component/component.head.html") %>
        <title>RE:T main</title>
        <link rel="stylesheet" href="/style/main/style.css">
</head>

<body class="screen-1">
    <h4 stroke="2" class="app">RE:T</h4>
    <hr stroke="1" class="line">
    <h5 stroke="2" class="date">SEPTEMBER 8</h5>
    <div id="ret_gap"></div>

    <div class="retner">
        <h5 id="ret_title">안녕하세요 이용섭님!</h5>
        <hr id="ret_line">
        <p id="code">나의 리트너 코드 : A7S8DF</p>

        <div class="message">
            <p class="today_medi">오늘의 진료 : 3건</p>
            <p class="today_chat">새로운 채팅 : 2건</p>
        </div>
    </div>

    <div class="list">
        <%- include('../../component/component.main.retner.select.ejs', {select : 3}) %>
    </div>

    <div>
        <h5 id="chat_member_list">최근 채팅 목록</h5>
        <div id="gap2"></div>
        <button id="chat_all">전체보기</button>
    </div>
</body>

</html>