<!DOCTYPE html>
<html>

<head>
    <%- include('../component/component.head.html') %>
        <title>RE:T</title>
        <link rel="stylesheet" href="/style/sign-up/style.css">
</head>

<body class="screen-1">
    <div>
        <%- include('../component/component.header.ejs') %>
    </div>

    <img class="element" src="/img/1.png" />

    <div class="buttons">
        <button class="patient" onclick="location.href='/sign-up/patient'">
            <img class="vector" src="/img/vector.svg" alt="Vector Icon" />
            <span class="text-wrapper-2">환자 회원가입</span>
        </button>
        <button class="re-tner" onclick="location.href='/sign-up/retner'">
            <img class="union" src="/img/union.svg" alt="Union Icon" />
            <span class="text-wrapper-2">리트너 회원가입</span>
        </button>
    </div>
</body>

</html>